In [1]:
import pandas as pd

In [2]:
# File path for carbon intensity dataset
PATH = "C:/Users/Krist/OneDrive/Documents/Data Analysis/Practice/Carbon/data/raw/df_fuel_ckan.csv"

# A tabular structure that makes the data easy to view / change
df_carbon_raw = pd.read_csv(PATH)

In [3]:
#from ydata_profiling import ProfileReport
#profile = ProfileReport(dfcarbon_raw, title="Profiling Report")
#profile.to_file("Profiling Report.html")

In [4]:
df_carbon_raw.head()

,DATETIME,GAS,COAL,NUCLEAR,WIND,WIND_EMB,HYDRO,IMPORTS,BIOMASS,OTHER,...,IMPORTS_perc,BIOMASS_perc,OTHER_perc,SOLAR_perc,STORAGE_perc,GENERATION_perc,LOW_CARBON_perc,ZERO_CARBON_perc,RENEWABLE_perc,FOSSIL_perc
0,2009-01-01T00:00:00,8367.0,15037.0,7099.0,248.0,62.0,246.0,2518.0,0.0,0.0,...,7.5,0.0,0.0,0.0,0.0,100.0,22.8,24.5,1.7,69.7
1,2009-01-01T00:30:00,8495.0,15095.0,7088.0,229.0,57.0,245.0,2495.0,0.0,0.0,...,7.4,0.0,0.0,0.0,0.0,100.0,22.6,24.3,1.6,70.0
2,2009-01-01T01:00:00,8471.0,15088.0,7074.0,207.0,52.0,246.0,2465.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.6,24.2,1.5,70.1
3,2009-01-01T01:30:00,8318.0,15035.0,7064.0,191.0,48.0,246.0,2439.0,0.0,0.0,...,7.3,0.0,0.0,0.0,0.0,100.0,22.6,24.3,1.5,70.0
4,2009-01-01T02:00:00,8295.0,15005.0,7052.0,175.0,44.0,246.0,2363.0,0.0,0.0,...,7.1,0.0,0.0,0.0,0.0,100.0,22.7,24.3,1.4,70.2

In [5]:
df_carbon_raw.describe()

,GAS,COAL,NUCLEAR,WIND,WIND_EMB,HYDRO,IMPORTS,BIOMASS,OTHER,SOLAR,...,IMPORTS_perc,BIOMASS_perc,OTHER_perc,SOLAR_perc,STORAGE_perc,GENERATION_perc,LOW_CARBON_perc,ZERO_CARBON_perc,RENEWABLE_perc,FOSSIL_perc
count,296084.000000,296084.000000,296084.000000,296084.000000,296084.000000,296084.000000,296084.000000,296084.000000,296084.000000,296084.000000,...,296084.000000,296084.000000,296084.000000,296084.000000,296084.00000,296084.0,296084.000000,296084.000000,296084.000000,296084.000000
mean,12043.431259,5586.682070,6310.245555,3946.389771,1053.049699,392.808703,2511.495515,925.866447,462.673221,940.697552,...,7.782402,2.896559,1.381064,2.682025,0.70080,100.0,41.621084,42.788935,19.796041,49.215311
std,5505.584959,6535.508708,1515.533343,3724.896856,971.280464,244.680465,1662.090000,1089.748675,590.240912,1900.816666,...,5.552682,3.444723,1.786687,5.513394,0.89292,0.0,16.505749,18.124703,15.794820,19.514570
min,738.000000,0.000000,2065.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,100.0,11.900000,11.900000,0.100000,2.400000
25%,7504.750000,54.000000,5083.000000,980.000000,291.000000,189.000000,1398.000000,0.000000,45.000000,0.000000,...,4.000000,0.000000,0.200000,0.000000,0.00000,100.0,28.300000,28.400000,6.700000,35.200000
50%,12084.000000,1979.000000,6476.000000,2725.000000,781.000000,360.000000,2464.000000,0.000000,175.000000,0.000000,...,7.100000,0.000000,0.600000,0.000000,0.40000,100.0,38.800000,38.700000,15.700000,50.600000
75%,16343.000000,10685.000000,7580.000000,5749.000000,1547.000000,559.000000,3153.000000,1946.250000,712.000000,891.000000,...,10.400000,5.900000,1.900000,2.400000,1.10000,100.0,52.600000,54.000000,29.100000,64.900000
max,27868.000000,26044.000000,9342.000000,17768.000000,5947.000000,1403.000000,9148.000000,3368.000000,3036.000000,14035.000000,...,38.600000,16.000000,10.300000,42.800000,7.90000,100.0,94.500000,94.600000,78.600000,88.000000

In [6]:
df_carbon_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296084 entries, 0 to 296083
Data columns (total 34 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATETIME          296084 non-null  object
 1   GAS               296084 non-null  float64
 2   COAL              296084 non-null  float64
 3   NUCLEAR           296084 non-null  float64
 4   WIND              296084 non-null  float64
 5   WIND_EMB          296084 non-null  float64
 6   HYDRO             296084 non-null  float64
 7   IMPORTS           296084 non-null  float64
 8   BIOMASS           296084 non-null  float64
 9   OTHER             296084 non-null  float64
 10  SOLAR             296084 non-null  float64
 11  STORAGE           296084 non-null  float64
 12  GENERATION        296084 non-null  float64
 13  CARBON_INTENSITY  296084 non-null  float64
 14  LOW_CARBON        296084 non-null  float64
 15  ZERO_CARBON       296084 non-null  float64
 16  RENEWABLE         296084 non-null  float64
 17  FOSSIL            296084 non-null  float64
 18  GAS_perc          296084 non-null  float64
 19  COAL_perc         296084 non-null  float64
 20  NUCLEAR_perc      296084 non-null  float64
 21  WIND_perc         296084 non-null  float64
 22  WIND_EMB_perc     296084 non-null  float64
 23  HYDRO_perc        296084 non-null  float64
 24  IMPORTS_perc      296084 non-null  float64
 25  BIOMASS_perc      296084 non-null  float64
 26  OTHER_perc        296084 non-null  float64
 27  SOLAR_perc        296084 non-null  float64
 28  STORAGE_perc      296084 non-null  float64
 29  GENERATION_perc   296084 non-null  float64
 30  LOW_CARBON_perc   296084 non-null  float64
 31  ZERO_CARBON_perc  296084 non-null  float64
 32  RENEWABLE_perc    296084 non-null  float64
 33  FOSSIL_perc       296084 non-null  float64
dtypes: float64(33), object(1)
memory usage: 76.8+ MB

# Converting the Dates and Resampling Time to Hourly

In [7]:
df_carbon_raw = df_carbon_raw.sort_values('DATETIME')

# Convert the DATETIME column to datetime type
df_carbon_raw['DATETIME'] = pd.to_datetime(df_carbon_raw['DATETIME'])

# Set the DATETIME column as the index
df_carbon_raw = df_carbon_raw.set_index('DATETIME')

# Now you can resample
dfcarbon_resampled = df_carbon_raw.resample('h').mean()

# If you want to keep DATETIME as a column instead of an index after resampling
df_carbon_raw = dfcarbon_resampled.reset_index()

In [8]:
df_carbon_raw.head()

,DATETIME,GAS,COAL,NUCLEAR,WIND,WIND_EMB,HYDRO,IMPORTS,BIOMASS,OTHER,...,IMPORTS_perc,BIOMASS_perc,OTHER_perc,SOLAR_perc,STORAGE_perc,GENERATION_perc,LOW_CARBON_perc,ZERO_CARBON_perc,RENEWABLE_perc,FOSSIL_perc
0,2009-01-01 00:00:00,8431.0,15066.0,7093.5,238.5,59.5,245.5,2506.5,0.0,0.0,...,7.45,0.0,0.0,0.0,0.0,100.0,22.70,24.40,1.65,69.85
1,2009-01-01 01:00:00,8394.5,15061.5,7069.0,199.0,50.0,246.0,2452.0,0.0,0.0,...,7.30,0.0,0.0,0.0,0.0,100.0,22.60,24.25,1.50,70.05
2,2009-01-01 02:00:00,8299.5,15011.5,7046.5,168.5,42.0,241.0,2349.5,0.0,0.0,...,7.10,0.0,0.0,0.0,0.0,100.0,22.65,24.25,1.35,70.30
3,2009-01-01 03:00:00,8336.0,14989.0,7025.0,149.0,37.5,225.5,2188.5,0.0,0.0,...,6.65,0.0,0.0,0.0,0.0,100.0,22.60,24.10,1.25,70.80
4,2009-01-01 04:00:00,8678.5,15103.5,7003.5,128.0,32.0,224.5,1918.0,0.0,0.0,...,5.80,0.0,0.0,0.0,0.0,100.0,22.35,23.65,1.15,71.90

In [9]:
# Sensible ordering for processed dataframe
df_carbon_raw = df_carbon_raw[['DATETIME', 'FOSSIL', 'COAL', 'GAS', 'NUCLEAR', 'STORAGE', 'GENERATION', 'WIND', 'HYDRO', 'SOLAR', 'BIOMASS', 'RENEWABLE', 'OTHER', 'CARBON_INTENSITY', 'LOW_CARBON', 'ZERO_CARBON']]
print(df_carbon_raw)

                  DATETIME   FOSSIL     COAL      GAS  NUCLEAR  STORAGE  \
0      2009-01-01 00:00:00  23497.0  15066.0   8431.0   7093.5      0.0
1      2009-01-01 01:00:00  23456.0  15061.5   8394.5   7069.0      0.0
2      2009-01-01 02:00:00  23310.5  15011.5   8299.5   7046.5      0.0
3      2009-01-01 03:00:00  23325.0  14989.0   8336.0   7025.0      0.0
4      2009-01-01 04:00:00  23782.5  15103.5   8678.5   7003.5      0.0
...                    ...      ...      ...      ...      ...      ...
148037 2025-11-21 05:00:00  20217.0      0.0  20217.0   3755.5      0.0
148038 2025-11-21 06:00:00  21810.0      0.0  21810.0   3759.5    261.0
148039 2025-11-21 07:00:00  22633.5      0.0  22633.5   3761.0    840.0
148040 2025-11-21 08:00:00  23447.0      0.0  23447.0   3760.0    736.0
148041 2025-11-21 09:00:00  23224.0      0.0  23224.0   3763.5    272.0

        GENERATION    WIND  HYDRO   SOLAR  BIOMASS  RENEWABLE   OTHER  \
0          33640.5   238.5  245.5     0.0      0.0      543.5     0.0
1          33471.5   199.0  246.0     0.0      0.0      494.0     0.0
2          33158.0   168.5  241.0     0.0      0.0      451.5     0.0
3          32950.5   149.0  225.5     0.0      0.0      412.0     0.0
4          33088.0   128.0  224.5     0.0      0.0      384.5     0.0
...            ...     ...    ...     ...      ...        ...     ...
148037     34993.5  4823.5  561.5     0.0   3285.5     6562.5   453.0
148038     37074.0  4958.5  656.5     0.0   3284.0     6909.0  1311.5
148039     39915.0  4772.5  675.0     3.0   3293.5     7170.0  1870.0
148040     42781.0  4236.0  618.0  1022.0   3281.0     7326.0  2478.0
148041     45243.0  4383.5  600.0  3819.5   3275.5     9822.0  1687.0

        CARBON_INTENSITY  LOW_CARBON  ZERO_CARBON
0                  525.0      7636.5       7577.0
1                  527.0      7563.5       7514.0
2                  528.5      7498.0       7456.0
3                  531.0      7437.5       7400.0
4                  534.5      7388.0       7356.0
...                  ...         ...          ...
148037             244.0     13603.5      12426.0
148038             255.0     13952.5      12919.5
148039             257.5     14224.5      13342.0
148040             254.5     14367.0      12631.0
148041             241.0     16861.0      12294.5

[148042 rows x 16 columns]

In [10]:
print(df_carbon_raw.info())
print(df_carbon_raw.isna().sum())
print(df_carbon_raw.index.is_monotonic_increasing)
print(df_carbon_raw.index.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148042 entries, 0 to 148041
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATETIME          148042 non-null  datetime64[ns]
 1   FOSSIL            148042 non-null  float64
 2   COAL              148042 non-null  float64
 3   GAS               148042 non-null  float64
 4   NUCLEAR           148042 non-null  float64
 5   STORAGE           148042 non-null  float64
 6   GENERATION        148042 non-null  float64
 7   WIND              148042 non-null  float64
 8   HYDRO             148042 non-null  float64
 9   SOLAR             148042 non-null  float64
 10  BIOMASS           148042 non-null  float64
 11  RENEWABLE         148042 non-null  float64
 12  OTHER             148042 non-null  float64
 13  CARBON_INTENSITY  148042 non-null  float64
 14  LOW_CARBON        148042 non-null  float64
 15  ZERO_CARBON       148042 non-null  float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 18.1 MB
None
DATETIME            0
FOSSIL              0
COAL                0
GAS                 0
NUCLEAR             0
STORAGE             0
GENERATION          0
WIND                0
HYDRO               0
SOLAR               0
BIOMASS             0
RENEWABLE           0
OTHER               0
CARBON_INTENSITY    0
LOW_CARBON          0
ZERO_CARBON         0
dtype: int64
True
0

# Add Day of the Week Column

In [11]:
df_carbon_raw['DATETIME'] = pd.to_datetime(df_carbon_raw['DATETIME'], utc=True)
df_carbon_raw = df_carbon_raw.sort_values('DATETIME')
df_carbon_raw = df_carbon_raw.set_index('DATETIME')
df_carbon_raw = df_carbon_raw.asfreq('h')

print(df_carbon_raw.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 148042 entries, 2009-01-01 00:00:00+00:00 to 2025-11-21 09:00:00+00:00
Freq: h
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   FOSSIL            148042 non-null  float64
 1   COAL              148042 non-null  float64
 2   GAS               148042 non-null  float64
 3   NUCLEAR           148042 non-null  float64
 4   STORAGE           148042 non-null  float64
 5   GENERATION        148042 non-null  float64
 6   WIND              148042 non-null  float64
 7   HYDRO             148042 non-null  float64
 8   SOLAR             148042 non-null  float64
 9   BIOMASS           148042 non-null  float64
 10  RENEWABLE         148042 non-null  float64
 11  OTHER             148042 non-null  float64
 12  CARBON_INTENSITY  148042 non-null  float64
 13  LOW_CARBON        148042 non-null  float64
 14  ZERO_CARBON       148042 non-null  float64
dtypes: float64(15)
memory usage: 18.1 MB
None

In [12]:
expected_range = pd.date_range(
    start=df_carbon_raw.index.min(),
    end=df_carbon_raw.index.max(),
    freq='h'
)

missing_timestamps = expected_range.difference(df_carbon_raw.index)
missing_timestamps[:20]
len(missing_timestamps)

0

In [13]:
df_carbon_raw.isna().mean().sort_values(ascending=False)

FOSSIL              0.0
COAL                0.0
GAS                 0.0
NUCLEAR             0.0
STORAGE             0.0
GENERATION          0.0
WIND                0.0
HYDRO               0.0
SOLAR               0.0
BIOMASS             0.0
RENEWABLE           0.0
OTHER               0.0
CARBON_INTENSITY    0.0
LOW_CARBON          0.0
ZERO_CARBON         0.0
dtype: float64

In [14]:
df_carbon_raw.to_parquet("C:/Users/Krist/OneDrive/Documents/Data Analysis/Practice/Carbon/data/processed/df_carbon.parquet")
print("DataFrame saved to C:/Users/Krist/OneDrive/Documents/Data Analysis/Practice/Carbon/data/processed/df_carbon.parquet")

DataFrame saved to C:/Users/Krist/OneDrive/Documents/Data Analysis/Practice/Carbon/data/processed/df_carbon.parquet